target/
!target/*.jar
.mvn/
.idea/
.vscode/
mvnw
mvnw.cmd
pom.xml.releaseBackup
pom.xml.utils_backup
pom.xml.v
pom.xml.next
release.properties
*.iml
*.ipr
*.iws
.DS_Store
.git/
.gitignore
Dockerfile
docker-compose.yml
.env
